#title {
  font-size: 54px;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;

}

#top  {
    background-color: #262f40;
    background-image: url("images\mandelbrot.jpg"),radial-gradient(#33334d, #1f2533);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 3px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#content {
  color: #234123;
}
#left {
  float: left;
}
