#title {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #0F0FAF;

}

#top  {
    background-color: #262f40;
    background-image: url(""),radial-gradient(#33334d, #1f2533);
    background-repeat: no-repeat;
    background-position: top;
    min-height: 400px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
